.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container div {
    flex: 1 1 200px;
    background-color: aqua;
    border: 4px solid brown;
    /* height: 80px; */
}


.flex-container > div:nth-child(1) {
    background-color: white;
}
